# Variables

In [2]:
message1 = "I am amidu yohan"

In [4]:
message2 = "Ï live in colombo"

In [6]:
message1+" "+message2

'I am amidu yohan Ï live in colombo'

In [7]:
f'Helllo world'

'Helllo world'

In [11]:
f'{message1}  {message2}'

'I am amidu yohan  Ï live in colombo'

# List

In [23]:
vehicles1 =['bike','çar','bus']

In [24]:
vehicles1[1:]

['çar', 'bus']

In [25]:
vehicles1[-1]

'bus'

In [ ]:
## adding elements

In [26]:
vehicles1.append('plane')

In [27]:
vehicles1

['bike', 'çar', 'bus', 'plane']

In [28]:
vehicles1.insert(0,'ship')

In [29]:
vehicles1

['ship', 'bike', 'çar', 'bus', 'plane']

In [30]:
# nested list
vehicles2 = ['lorry']
vehicles = [vehicles1,vehicles2]

In [31]:
vehicles

[['ship', 'bike', 'çar', 'bus', 'plane'], ['lorry']]

In [32]:
# remove elemment pop method
vehicles.pop(1)

['lorry']

In [33]:
vehicles

[['ship', 'bike', 'çar', 'bus', 'plane']]

In [40]:
vehicles[0].remove("plane")

In [41]:
vehicles

[['ship', 'bike', 'çar', 'bus']]

In [42]:
numbers = [1,2,3,4,4]
numbers.sort()

In [43]:
# update the element
vehicles[0][1]="plane"

In [44]:
vehicles

[['ship', 'plane', 'çar', 'bus']]

In [45]:
new_vehicles = vehicles.copy()

In [46]:
new_vehicles

[['ship', 'plane', 'çar', 'bus']]

# Dictionary

In [47]:
my_dict = {'key1':[34,56,77],'key2':[56,89,90]}

In [50]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [51]:
my_dict.get('key1')

[34, 56, 77]

In [54]:
my_dict.values()

dict_values([[34, 56, 77], [56, 89, 90]])

In [55]:
my_dict['key3']=[34,89,56]

In [56]:
my_dict

{'key1': [34, 56, 77], 'key2': [56, 89, 90], 'key3': [34, 89, 56]}

In [59]:
# update the dictionary
my_dict.update({'Height':[56]})

In [62]:
my_dict['key1'][2]=90

In [63]:
my_dict

{'key1': [34, 56, 90],
 'key2': [56, 89, 90],
 'key3': [34, 89, 56],
 'Height': [56]}

# If statemment

In [64]:
x = 0
if x>0:
    print('hello')
else:
    print("no")

no

In [69]:
x = 10
if x>0 and x<9:
    print('hello')
elif x>9:
    print('good number')
else:
    print("no")

good number

In [70]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
vehicles

[['ship', 'plane', 'çar', 'bus']]

In [72]:
for i,vehicle in enumerate(vehicles):
    print(f'{i} : {vehicle}')

0 : ['ship', 'plane', 'çar', 'bus']

In [75]:
my_dict

{'key1': [34, 56, 90],
 'key2': [56, 89, 90],
 'key3': [34, 89, 56],
 'Height': [56]}

In [76]:
for key,value in my_dict.items():
    print(key,value)

key1 [34, 56, 90]
key2 [56, 89, 90]
key3 [34, 89, 56]
Height [56]

# Function

In [77]:
def calculate(a,b):
    return(a+b)

calculate(0,5)

5

In [78]:
len(vehicles)

1

# OS Module

In [80]:
import os

In [81]:
os.getcwd()

'C:\\Users\\student\\Desktop'

In [82]:
os.listdir()

['.ipynb_checkpoints',
 '.Rhistory',
 '17216',
 '2024s20885.xlsx',
 'data.csv',
 'desktop.ini',
 'Doc1.pdf',
 'Test',
 'tut01.ipynb']

# Dataframe

In [83]:
import pandas as pd

In [86]:
data = {'A':[1,2,3,4,5],'B': ['M','M','F','F','M']}

df = pd.DataFrame(data)

In [87]:
df

   A  B
0  1  M
1  2  M
2  3  F
3  4  F
4  5  M

In [89]:
df[df["B"]=="M"]

   A  B
0  1  M
1  2  M
4  5  M

In [94]:
df.columns

Index(['A', 'B'], dtype='object')

In [95]:
df.dtypes

A     int64
B    object
dtype: object

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [97]:
df.describe()

              A
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [98]:
df1 = [df['B']]

In [99]:
df1

[0    M
 1    M
 2    F
 3    F
 4    M
 Name: B, dtype: object]

In [102]:
df2 = df[['B']]
df2

   B
0  M
1  M
2  F
3  F
4  M

In [104]:
C=[34,5,67,89,90]

df2['C'] = C
df2

   B   C
0  M  34
1  M   5
2  F  67
3  F  89
4  M  90

In [106]:
df.B.sum()

'MMFFM'

In [108]:
df.A.mean()

3.0

In [112]:
df['B'].value_counts()

B
M    3
F    2
Name: count, dtype: int64

In [113]:
df['B'].value_counts(normalize=True)

B
M    0.6
F    0.4
Name: proportion, dtype: float64

In [115]:
# sort ascending order
df.sort_values(by="A")

   A  B
0  1  M
1  2  M
2  3  F
3  4  F
4  5  M

In [116]:
df.sort_values(['A','B'])

   A  B
0  1  M
1  2  M
2  3  F
3  4  F
4  5  M

In [117]:
# link https://www.youtube.com/watch?v=CMEWVn1uZpQ